body{
margin:0;
background:#000;
color:#fff;
font-family:Helvetica, sans-serif;
text-align:center;
}

.logo{
font-size:24px;
letter-spacing:4px;
margin:20px;
}

.camera-section{
margin-bottom:20px;
}

video{
width:350px;
border-radius:20px;
}

button{
padding:12px 25px;
margin:10px;
border:none;
background:#fff;
color:#000;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#c9a227;
}

.strip-container{
position:relative;
margin:auto;
width:300px;
height:900px;
background:#111;
overflow:hidden;
}

#frameBackground{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:1;
}

#photoLayer img{
position:absolute;
z-index:2;
cursor:move;
}

#stickerLayer img{
position:absolute;
z-index:3;
cursor:move;
}

