body{
background:#000;
color:#fff;
text-align:center;
font-family:Helvetica;
}

.camera-box{
width:300px;
height:400px;
margin:20px auto;
border-radius:20px;
overflow:hidden;
}

video{
width:100%;
height:100%;
object-fit:cover;
transform:scaleX(-1);
}

.scrap-canvas{
position:relative;
width:600px;
height:900px;
margin:30px auto;
}

.template{
position:absolute;
width:100%;
height:100%;
z-index:1;
}

#photoLayer img{
position:absolute;
width:250px;
height:350px;
z-index:2;
cursor:move;
}
