body{
  background:#000;
  color:#fff;
  text-align:center;
  font-family:'Inter',sans-serif;
}

h2{ color:#c9a227; margin-top:20px; }

.camera-box{
  width:300px;
  height:400px;
  margin:20px auto;
  border-radius:20px;
  overflow:hidden;
  border:2px solid #333;
}

video{
  width:100%;
  height:100%;
  object-fit:cover;
  transform:scaleX(-1);
}

.strip-canvas{
  position:relative;
  width:300px;
  height:900px;
  margin:30px auto;
  border:2px solid #333;
  border-radius:20px;
}

.template{
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

#photoLayer img{
  position:absolute;
  width:260px;
  height:200px;
  left:20px;
  z-index:2;
}

button{
  margin:16px;
  padding:12px 24px;
  border-radius:30px;
  border:2px solid #c9a227;
  background:transparent;
  color:#c9a227;
  cursor:pointer;
  font-size:14px;
}
button:hover{
  background:#c9a227;
  color:#000;
}
