body{
background:#000;
color:#fff;
text-align:center;
font-family:Helvetica;
}

.camera-box{
width:300px;
height:400px;
margin:20px auto;
border-radius:20px;
overflow:hidden;
}

video{
width:100%;
height:100%;
object-fit:cover;
transform:scaleX(-1);
}

.strip-canvas{
position:relative;
width:300px;
height:900px;
margin:30px auto;
}

.template{
position:absolute;
width:100%;
height:100%;
z-index:1;
}

#photoLayer img{
position:absolute;
width:260px;
height:200px;
left:20px;
z-index:2;
}
